*, *:before, *:after {
  box-sizing: border-box;
}

:host {
  display: inline-block;
}

#component-anatomy {
  display: inline-flex;
}

:host([orientation='vertical']) #component-anatomy {
  flex-direction: column;
}

#area {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  counter-reset: anatomy;
  align-self: center;
  flex-shrink: 0;
  margin-bottom: auto;
}

#area li:before {  
  content: counter(anatomy);
  counter-increment: anatomy;
}

#pins {
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0;
}

#pins li {
  position: absolute;
  border: .1em solid var(--component-anatomy--pin-bg, deeppink);
  background: var(--component-anatomy--pin-bg, deeppink);
  color: var(--component-anatomy--pin-fg, white);
  transform: translate(-50%, -50%) scale(1);
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .218s ease;
}

#pins li[aria-current] {
  border-color: var(--component-anatomy--pin-hl, currentColor);
  transform: translate(-50%, -50%) scale(1.2);
}

:host(:not([edit])) #pins:hover li {
  transform: translate(-50%, -50%) scale(0.2);
  color: transparent;
}

#list {
  margin: 0;
  padding: .5em 2.5em;
}

#list:empty {
  display: none;
}

#list li {
  cursor: pointer;
  text-align: start;
}

#list li[contentEditable] {
  cursor: text;
}

#list li:not(:last-child) {
  margin-bottom: .5em;
}

#list a {
  color: var(--component-anatomy--link-fg, currentColor);
}

#copy {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
